[DESIGN]
max-attributes = 12

[MESSAGES CONTROL]
disable =
    arguments-differ,
    fixme,
    locally-disabled,
    missing-class-docstring,
    missing-function-docstring,
    missing-module-docstring,
    too-few-public-methods,
    too-many-ancestors,
    too-many-arguments,
    unused-argument,
    unused-import,
    unused-variable,

[MASTER]
init-hook =
    import sys
    sys.path.append("src/robot_autobattler")
extension-pkg-whitelist=pygame
